*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: hsl(0, 0%, 17%);
    font-family: "Rubik", sans-serif;
    background: url(./assets/images/pattern.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}